<div class="modal-header">
    <h4 class="modal-title"><b>Download Configuration</b></h4>
</div>
<div class="container-fluid modalBackground">
    <div class="modal-body">
        <div class="row">
            <div class="well well-sm">
                1 of 2 Configuration Groups have eligible endpoints with no configuration download in progress
            </div>
            <div class="row">
                <table class="table table-hover" style="border:1px solid #ffffff;">
                    <tr>
                        <td><h5 class=""><b>Configurations</b></h5></td>
                        <td>
                            <select style="width:50%;">
                                <option value="group1">Test Configuration Group1_v1</option>
                                <option value="group2">Test Configuration Group1_v2</option>
                                <option value="group3">Test Configuration Group2_v1</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class='modal-footer'>
    <button type="submit" ng-click="" class="btn btn-default btnColor">Download Configuration</button>&nbsp;&nbsp;
    <button type="submit" ng-click="cancel()" class="btn btn-default btnDefault">Cancel</button>
</div>
