<div class="modal-header">
    <h4 class="modal-title"><b>Import Configuration</b></h4>
</div>
<div class="container-fluid modalBackground">
    <div class="modal-body">
        <div class="row">
           <div class="col-md-4">
               <div class="row">
                   <h5 class=""><b>Select Group</b></h5>
               </div>
               <div class="row">
                   <select class="selectGroup">
                       <option value="Route1">Route1</option>
                       <option value="Route2">Route2</option>
                       <option value="Route3">Route3</option>
                   </select>
               </div>
               <br />
               <div class="row">
                   <button type="button" class="btn btn-default btnColor">Create Configuration Group</button>
               </div>
               <div class="row">
                   <h5 class=""><b>Select File For Import</b></h5>
               </div>
               <div class="row">
                   <input type="file" file-model="myFile" />
               </div>
           </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <div class="row">
                    <h5 class=""><b>Import Result</b></h5>
                </div>
                <div class="row modalTable">
                    <table class="table result_table">
                        <tr ng-repeat="imports_meter in imports_meter">
                            <td>{{imports_meter.key}}</td>
                            <td> {{imports_meter.value}} </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btnColor" ng-click="uploadFile()">Import</button>
    <button type="button" class="btn btn-default btnDefault" ng-click="cancel()">Close</button>
</div>
  
