<div class="modal-header">
    <h4 class="modal-title"><b>Server Details</b></h4>
    <button type="button" class="btn btn-xs btn-default modalCloseBtn pull-right" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></button>
</div>
<div class="container-fluid modalBackground">
    <div class="modal-body">
        <div class="row">
            <table class="table table-hover" style="border:1px solid #ffffff;">
                <tr>
                    <td><h5 class=""><b>Host Name:</b></h5></td>
                    <td></td>
                </tr>
                <tr>
                    <td><h5 class=""><b>#Relays</b></h5></td>
                    <td></td>
                </tr>
                <tr>
                    <td><h5 class=""><b>Load</b></h5></td>
                    <td></td>
                </tr>
                <tr>
                    <td><h5 class=""><b>Master Collector</b></h5></td>
                    <td></td>
                </tr>
                <tr>
                    <td><h5 class=""><b>Relays</b></h5></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class='modal-footer'>
    
</div>